/*
----------------------------------------------------------------------------------
CSS -- STYLING OF THE APPLICATION
----------------------------------------------------------------------------------
*/

/* Special styling (need to use <name of thing>.setId(<name of styling>); ) */
#Title {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: darkorange;
}
#Subtitle{
    -fx-font-style: normal;
    -fx-font-size: 15;
    -fx-text-fill: darkorange;
    -fx-text-alignment: center;
}
#Placeholder{
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* ScrollPane - removing border */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-insets: 0;
    -fx-background-color: inherit;
    -fx-padding: 0;
    -fx-text-fill: inherit;
    -fx-fit-to-width: true;
}
.scroll-pane .scroll-bar{
    -fx-background-color: #787673;
}
.scroll-pane .scroll-bar .thumb{
    -fx-background-color: #3d3d3d;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* Other stuff */
.root{
    -fx-background-color: #3d3d3d;
    -fx-text-fill: #ffffff;
}
.button{
    -fx-background-color: #787673;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 7;
    -fx-border-color: #3d3d3d;
    -fx-background-insets: 2; /* 2-3 ok */
}
.button:hover{
    -fx-background-color: #f29316;
}

.table-view, .table-view.viewport {
    /*-fx-base: #1d1d1d; /* Linjene som markerer rutenettet */
    /*-fx-control-inner-background: #3d3d3d;  Fargen på cellene */
    -fx-background-color: #3d3d3d;
    -fx-text-fill: #ffffff;
    -fx-selection-bar: transparent; /* Endrer fargen på sidekanten når du har valgt en rad*/
    -fx-font-size: 13;
}
.table-view .column-header {
    -fx-background-color: #787673;
}
.table-view .column-header > .label{
    -fx-alignment: center-left;
}
.table-view .column-header.center_aligned > .label{
    -fx-alignment: center;
}
.table-view .cell {
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent transparent #787673 transparent;
}
.table-view .table-cell:selected, .table-row-cell:selected { -fx-border-width: 0; }
.table-row-cell{
    -fx-background-color: #3d3d3d;
    -fx-border-width: 0;
}
.table-row-cell:empty{ -fx-background-color: transparent; }
/*.table-row-cell:odd{ -fx-background-color: derive(#3d3d3d, 80%); } Hvis man vil ha en annen farge på annenhver rad */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #f29316;
}
.table-view .scroll-bar * {
    /* !* To hide the scroll bars in the table view *!
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0; */

    -fx-hbar-policy: never;
    -fx-background-color: #787673;
    -fx-pref-width: 13;
}
.table-view .scroll-bar .thumb{ -fx-background-color: #3d3d3d; -fx-pref-width: 10; }
.table-view .scroll-bar .track{ -fx-pref-width: 10; }
/*.table-view  .increment-button, .table-view .decrement-button{ -fx-background-radius: 1em; }*/
.table-view .text{ -fx-text-fill: white; }
.table-view .filler{ -fx-background-color: #787673; }
.corner{ -fx-background-color: #3d3d3d; }

.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 13;
}

.text-field {
    -fx-background-color: inherit;
    -fx-border-color: #3d3d3d #3d3d3d #1d1d1d #3d3d3d; /* top, right, bottom, left */
    -fx-border-insets: 0 0 10 0;
    -fx-text-fill: #ffffff;
}

.text-area {
    -fx-control-inner-background: #3d3d3d;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-border-color: #787673;
}
.text-area:focused {
    -fx-border-color: #f29316;
}

.dialog-pane{
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}
.dialog-pane .header-panel {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
    -fx-border-color: transparent transparent #787673 transparent;
}
.dialog-pane *.header-panel *.label{
    -fx-font-size: 130%;
    -fx-text-fill: darkorange;
}